<div>
  <button appKeyboardKey="1"></button>
  <button appKeyboardKey="2"></button>
  <button appKeyboardKey="3"></button>
  <button appKeyboardKey="4"></button>
  <button appKeyboardKey="5"></button>
  <button appKeyboardKey="6"></button>
  <button appKeyboardKey="7"></button>
  <button appKeyboardKey="8"></button>
  <button appKeyboardKey="9"></button>
  <button appKeyboardKey="0"></button>
</div>
<div>
    <button appKeyboardKey="Q"></button>
    <button appKeyboardKey="W"></button>
    <button appKeyboardKey="E"></button>
    <button appKeyboardKey="R"></button>
    <button appKeyboardKey="T"></button>
    <button appKeyboardKey="Y"></button>
    <button appKeyboardKey="U"></button>
    <button appKeyboardKey="I"></button>
    <button appKeyboardKey="O"></button>
    <button appKeyboardKey="P"></button>
  </div>
  <div>
    <button appKeyboardKey="A "></button>
    <button appKeyboardKey="S"></button>
    <button appKeyboardKey="D"></button>
    <button appKeyboardKey="F"></button>
    <button appKeyboardKey="G"></button>
    <button appKeyboardKey="H"></button>
    <button appKeyboardKey="J"></button>
    <button appKeyboardKey="K"></button>
    <button appKeyboardKey="L"></button>
  </div>
  <div>
    <!-- <button class="special" (click)="onShift()" [class.toggled]="keyboard.shift">{{ keyboard.alt ? '#+=' : 'Shift'}}</button> -->
    <button appKeyboardKey="Z"></button>
    <button appKeyboardKey="X"></button>
    <button appKeyboardKey="C"></button>
    <button appKeyboardKey="V"></button>
    <button appKeyboardKey="B"></button>
    <button appKeyboardKey="N"></button>
    <button appKeyboardKey="M"></button>
    <button class="special" (click)="onBackspace()">Sil</button>
  </div>
